{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="card">
    <form action="/generate" method="get">
        <label for="length">Длина пароля:</label>
        <input type="number" id="length" name="length" value="12" min="4">

        <label><input type="checkbox" name="use_upper" checked> Включить заглавные буквы</label>
        <label><input type="checkbox" name="use_digits" checked> Включить цифры</label>
        <label><input type="checkbox" name="use_symbols" checked> Включить символы</label>

        <button type="submit">Сгенерировать</button>
    </form>
</div>
{% endblock %}


